---
---

$enable-rounded: false;

$primary: #369;

@import 'bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

a.navbar-brand, h1, h2, h3, h4 {
	font-family: Raleway;
	font-weight: 300;
}

h1, h2, h3, h4 {
	background: url(box-plain.svg);
	background-size: 3px 3px;
	background-repeat: repeat-x;
	background-position-y: center;
	text-align: center;
	margin-bottom: $grid-gutter-width;
	
	span {
		background: white;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		display: inline-block;
	}
}

.hero {
	background: #9cf;
	
	h1{
		margin-bottom: 0;
		
		span {
			background: #9cf;
		}
	}
}

.row.projects .card {
	margin-bottom: $grid-gutter-width;
}

.footer .divider {
	background: url(box-plain.svg);
	background-size: 3px 3px;
	background-repeat: repeat-x;
	background-position-y: center;
	text-align: center;
	margin-bottom: $grid-gutter-width;
	
	img {
		width: (50 + $grid-gutter-width);
		height: (50 + $grid-gutter-width);
		border: ($grid-gutter-width / 2) solid white;
		background: white;
	}
}