---
layout: default
---
		<div class="jumbotron hero">
			<div class="container">
				<h1>I'm Evan, and this is a website.</h1>
			</div>
		</div>
		
		<div class="container">
			<h2 class="oe-carat">Projects</h2>
			
			<div class="row projects">
				<div class="col-sm-6 col-lg-4">
					<div class="card">
						<img src="https://source.unsplash.com/featured/177x100/?nature" class="card-img-top" alt="random">
						<div class="card-body">
							<h3 class="card-title">PillTimer</h3>
							<p class="card-text">Medicine tracker for iOS that alerts you for new doses</p>
							<a href="#" class="btn btn-primary">Learn More</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="card">
						<img src="https://source.unsplash.com/featured/177x100/?nature" class="card-img-top" alt="random">
						<div class="card-body">
							<h3 class="card-title">DeviantArt Embed</h3>
							<p class="card-text">Embed DeviantArt posts into the WordPress block editor</p>
							<a href="#" class="btn btn-primary">Learn More</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="card">
						<img src="https://source.unsplash.com/featured/177x100/?nature" class="card-img-top" alt="random">
						<div class="card-body">
							<h3 class="card-title">madcrasher</h3>
							<p class="card-text">The unholy love-child of synthpop and hip-hop</p>
							<a href="#" class="btn btn-primary">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</div>